grammar CommentGrades
  rule main
    commentedgrade / rest
  end

  rule rest
    .*
  end

  rule commentedgrade
    '/*'
      'M:'
      .*
      component grade
    '*/'
  end

  rule component
    'style' /
    'design' /
    'correctness'
  end

  rule grade
    '-'? [0-9]+ ( '.' [0-9]+ )?
  end
end
